<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body style="background-color:black;color:white">
    <h1>This is Header</h1>
    <div>
        @RenderBody()
    </div>
    <h2>This is Footer</h2>
</body>
</html>
