
@{
    Layout = null;
    string str = "<Script>alert('hello havij')</Script>";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <div> 
        <span>@str</span>
        <span>@Html.Raw(str)</span>
    </div>
</body>
</html>
