
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImplicitCodeExpression</title>
</head>
<body>
    <div> 
        @{ 
            string str = "Asp.Net MVC";
        }
        value :@str
    </div>
    <br/>
    @*ExplictCodeExpression*@
    <div>
        (1+6) = @(1 + 6)
    </div>
    @*shortcut Description*@
    <input type="text" name="Name" value=""/>
    @*combinig CodeBlock and plane Text*@
    @for(int i = 0; i<1; i++)
    {
        <p>This is a paragraph @(i+1)</p>
    }
    @for(int i=0; i<4; i++)
    {
        <text>This is a text</text>
    }
</body>
</html>