
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>calling Method</title>
</head>
<body>
    <div> 
        @helper sayHello(string Name) { 
              <div>Hello @Name</div>
        }
        @sayHello("shalgham")
    </div>
</body>
</html>
